@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color-scheme: #EED9C4;
    background-color: #f5f5dc;
}